@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
    background-color: #323c4b;
}

body {
    background-color: /* white;*/
    #323c4b;
}

* {
    font-family: "Roboto", sans-serif;
}

#create-logo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 30rem;
    height: 15rem;
    object-fit: cover;
}

.starting-page {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: auto;
    margin: 1% 1% 5%;
}

.info {
    height: auto;
    padding: 3em 7.5em;
    margin: 0 10%;
    background-color: white;
}

.login-section {
    position: relative;
    margin: 2em 10em 0 1em;
    height: auto;
}

.info-heading {
    font-family: 'Aleo', sans-serif;
    font-size: 3em;
    color: black;
    border: hidden;
    border-bottom: solid;
    border-bottom-width: 0.1em;
    border-color: yellow;
    display: inline-block;
    position: relative;
}

.info-content {
    font-family: 'Varela Round', sans-serif;
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 100;
    color: hsl(357, 12%, 42%);
}

.login-text {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #ffffff;
}

.login-box {
    background-color: white;
    /*position: relative;*/
    border-radius: 1rem;
    border-color: #ffffff;
    /*margin-top: 0%;
    margin-bottom: 2%;*/
    margin-left: auto;
    margin-right: auto;
    width: 22.5em;
    height: auto;
    padding: 5% 1%;
}

.login-box:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.9));
    transition: all 0.2s ease;
    transform: scale(1.01);
}

@media (max-width:1000px) {
    .starting-page {
        grid-template-columns: 100%;
        margin: 0%;
    }
    .info {
        margin: 1em;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 1em;
    }
    .login-section {
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 2em 1em 0;
    }
}


/*
.google-img {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: 15%;
    width: 2rem;
    top: 3rem;
}

.google-signin-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 90%;
    height: 4rem;
    background: #ffffff;
    border: 0.1rem solid #d2c7c7;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    /* identical to box height 

color: #4d4c4c;

}
.google-signin-btn:hover {
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0);
}
.or-line {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    height: 2.5%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;
    color: rgb(112, 103, 103);
}
*/

fieldset {
    /*position: relative;*/
    border-style: hidden;
}

label {
    position: relative;
    margin-left: 0.8rem;
    color: rgb(184, 167, 167);
    font-style: normal;
    font-weight: bolder;
    font-size: 1rem;
}

.login-inputs {
    color: rgb(184, 167, 167);
    position: relative;
    vertical-align: middle;
    width: 90%;
    height: 2.5rem;
    margin-left: 2.5%;
    margin-bottom: 2rem;
    margin-top: 1%;
    background: rgba(176, 165, 165, 0.29);
    border: 0.1rem;
    border-color: rgba(176, 165, 165, 0.29);
    box-sizing: border-box;
    backdrop-filter: blur(0.4rem);
    border-radius: 0.25rem;
    font-size: 1.1rem;
    text-indent: 0.5rem;
}

.login-button {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 3em;
    top: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: .1rem;
    background: rgba(98, 123, 159, 0.79);
    border: 0.1rem solid #627b9f;
    box-sizing: border-box;
    backdrop-filter: blur(0.4rem);
    border-radius: 0.2rem;
    /*text properties*/
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

.new-account {
    position: relative;
    margin-top: 2%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    line-height: 10px;
    color: #ffffff;
    display: block;
    font-size: 0.75rem;
}


/*
.forgot-password {
    position: relative;
    text-align: center;
}*/

a[href="create-account.html"] {
    color: white;
}

a[href="login.html"] {
    color: white;
}


/*
a[href="forgot-password.html"] {
    color: black;
}
*/

.login-button:hover {
    background-color: black;
}


/*home page*/

.headerBar {
    display: grid;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    grid-template-columns: 30% 40% 30%;
    background-color: #323c4b;
    border-style: hidden;
    border-bottom: solid;
    border-color: white;
    border-width: 0.2px;
}

.optionsMenu {
    margin: auto auto auto 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    display: inline-block;
}

.optionsbtn {
    width: auto;
    height: auto;
    padding: 10% 100%;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 1px #00b4cc;
    border-color: white;
    font-size: 30px;
    font-weight: bold;
}

.logoHeader {
    margin: 2% auto auto;
    height: 10em;
    width: 75%;
    background-image: url(../admin/branding/create_logo1.png);
    background-size: cover;
    background-position: center center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logoHeader>img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 10rem;
    object-fit: cover;
    border: hidden;
}

.dropDownMenu {
    margin: auto 20% auto auto;
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    display: inline-block;
}

.dropDownList {
    display: none;
    position: absolute;
    background-color: #323c4b;
    width: 12em;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 4em;
    right: -4em;
}

.dropDownList a {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 0.2em;
    line-height: 2em;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.dropDownMenu a:hover {
    background-color: rgb(187, 188, 199);
}

.show {
    display: inline-block;
}

.menuList {
    display: none;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    width: 25em;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 4em;
}

.menuList a {
    /*color: rgb(0, 0, 0);
    background-color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 3px;
    margin-bottom: 0.2em;
    line-height: 2em;
    font-size: 20px;
    text-decoration: none;
    display: block;*/
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    padding: 1em 2em;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: rgb(179, 171, 171);
    border-width: 1px;
    font-size: 25px;
    font-weight: bold;
}

.menuList a:last-of-type {
    margin-bottom: 5px;
}

.optionsMenu a:hover {
    background-color: rgb(187, 188, 199);
}

.show {
    display: inline-block;
}

.toggleDiv {
    position: relative;
    display: block;
    margin: 1% auto auto;
    width: 50%;
}

.searchBar {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0 auto;
}

.toggleDiv #createRecipe {
    width: 25%;
    margin: 0 auto 2%;
}

.filter-button {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 2.2em;
}

button[type="filter"] {
    width: 2em;
    height: 100%;
    border: 3px solid #00b4cc;
    background-color: white;
    color: black;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    border-right: hidden;
}

.search-bar {
    grid-column-start: 2;
    grid-column-end: 3;
}

.search-button {
    grid-column-start: 3;
    grid-column-end: 4;
}

button[type="submit"] {
    width: 2em;
    height: 100%;
    border: 3px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 30px;
}

button[type="button"] {
    display: block;
    margin-bottom: 75px;
    width: 100%;
    height: 56px;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: white;
    font-size: 25px;
    font-weight: bold;
}

.search {
    width: 100%;
    height: 50px;
    border: 3px solid #00b4cc;
    padding: 0;
    outline: none;
    color: #9dbfaf;
    font-size: 20px;
}

#options {
    color: black;
    font-size: 35px;
}

h1.shoppingListTitle {
    text-align: center;
}


/*recipe-list*/

.myRecipes {
    position: relative;
    display: block;
    margin: 2% auto;
    text-align: center;
}

.myRecipes>h1 {
    font-size: 50px;
    color: white;
    display: inline;
    margin-right: 1em;
}

#book {
    position: relative;
    color: white;
    display: inline;
    font-size: 50px;
}

.homeBar {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    width: 50%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.homeBar>button {
    color: black;
    background-color: white;
    position: relative;
    display: inline;
    margin: auto;
    width: 10em;
    height: 2em;
    padding: 0.2em 0.6em 0.2em 0.2em;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.homebtn {
    color: black;
    background-color: white;
    position: relative;
    display: inline;
    width: auto;
    height: 2em;
    padding: 0.2em 0.6em 0.2em 0.2em;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#sort-select {
    margin: auto;
    position: relative;
    display: inline;
    width: 10em;
    height: 2.25em;
    box-shadow: 0 5px 1px #00b4cc;
    border-radius: 5px;
    padding: 0.2em 0.6em 0.2em 0.2em;
    font-size: 1.25em;
    font-weight: bold;
}


/*can modify sorting dropdown*/

.recipe-list {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    width: 80%;
    column-gap: 5%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 5%;
    /*max-width: 100%;*/
    row-gap: 2em;
    padding: 1em;
    overflow: visible;
    overflow-y: scroll;
}

.recipe {
    align-items: center;
    border-radius: 1px;
    display: grid;
    grid-template-rows: 17.5em 5em 1.5em 1.5em;
    height: auto;
    row-gap: 0.5em;
    padding-bottom: 1em;
    width: 23em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: all 0.2s ease;
}

.recipe:hover {
    border-radius: 4px;
    cursor: pointer;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.9));
    transition: all 0.2s ease;
    transform: scale(1.05);
    background-color: aqua;
}

.recipes-title {
    /*background: rgba(143, 135, 135, 0.29);*/
    padding-left: 10px;
    font-size: 40px;
    color: black;
    font-family: 'Aleo', sans-serif;
    max-height: 100px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.recipe>img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.recipe-time {
    padding-left: 10px;
    font-size: 15px;
    color: rgb(153, 111, 111);
    font-family: 'Aleo', sans-serif;
}

.recipe-rating {
    padding-left: 10px;
    font-size: 15px;
    color: rgb(153, 111, 111);
    font-family: 'Aleo', sans-serif;
    font-weight: 200;
}

.recipebookbtn {
    width: 5em;
}


/* Create Recipe Style */

.createRecipe {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.createRecipeTitle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.createRecipeTitle img {
    position: relative;
    display: inline;
    width: 100px;
    top: 20px;
    margin-left: 10%;
}

.createRecipeTitle h1 {
    color: white;
    display: inline;
    position: relative;
    font-size: 60px;
}

.input-field {
    text-align: left;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    backdrop-filter: blur(4px);
    padding: 5px 5px 5px 15px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}

.center {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.form-input {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    padding: 20px;
    background: #323c4b;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 600;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1px;
    background: rgba(67, 87, 114, 0.79);
}

.form-input label:hover {
    background-color: black;
}

.form-input img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

#ingredients {
    margin-top: 20px;
}

#ingredients h2 {
    color: white;
    position: relative;
    font-size: 30px;
}

#quantity {
    position: relative;
    text-align: left;
    width: 20%;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    padding: auto;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

.ingredient {
    position: relative;
    text-align: left;
    width: 70%;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    padding: 1px 1px 1px 10px;
    color: black;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
}

#directions h2 {
    color: white;
    position: relative;
    font-size: 30px;
}

.directions {
    text-align: left;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    padding: 1px 1px 1px 10px;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.createRecipebtn {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    padding: 10px;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
}

#save-recipe {
    margin-top: 10%;
    margin-bottom: 5%;
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-size: auto;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background: #00b4cc;
}

#save-recipe:hover {
    background: black;
}


/*shopping list*/


/*.shoppingListTitle {
    position: relative;
    text-align: center;
    width: 300px;
    left: 100px;
    display: inline;
    top: 100px;
    color: white;
    font-size: 40px;
}*/


/*#cart {
    position: relative;
    color: white;
    display: inline;
    left: 150px;
    top: 100px;
    font-size: 60px;
}

.vertical-center {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    top: 0;
}

.homebtn2 {
    color: black;
    background-color: white;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: auto;
    height: 45px;
    padding-right: 10px;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 1px #00b4cc;
    border-color: white;
    font-size: 25px;
    font-weight: bold;
}*/

.shopping-qty {
    text-align: left;
    width: 25%;
    display: inline;
    height: 2em;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    backdrop-filter: blur(4px);
    padding: 5px 5px 5px 15px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    color: black;
    font-size: 1em;
}

.shopping-item {
    text-align: left;
    width: 55%;
    margin-left: 10%;
    display: inline;
    height: 2em;
    border-radius: 2px;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    backdrop-filter: blur(4px);
    padding: 5px 5px 5px 15px;
    margin-top: 1em;
    margin-bottom: 1.5px;
    color: black;
    font-size: 1em;
}

.shopping-list {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#shopping-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: lightblue;
    border-radius: 5px;
    padding: 1.5em;
    width: 90%;
    height: auto;
}

#shopping-form:pxpty {
    display: none;
}

#shopping-form>label {
    font-size: 1.5em;
    line-height: 1.75m;
    color: black;
    margin-left: .5em;
}

input[type="checkbox"] {
    margin-right: 1.5em;
    transform: scale(1.5);
}

#done-button {
    position: relative;
    margin-top: 1em;
    margin-bottom: 3em;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}


/*recipe-expand*/

.recipe-expand {
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.titleBar {
    position: relative;
    display: inline;
    width: 100%;
}

.recipe-title {
    position: relative;
    font-size: 50px;
    color: white;
    display: inline;
}

.crud-options {
    float: right;
    display: inline;
    position: relative;
    width: 250px;
}

.crud {
    width: 50px;
    height: auto;
    margin: 1%;
    padding: 5px;
    background-color: white;
    color: rgb(58, 58, 71);
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 3px 1px #00b4cc;
    border-color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    display: inline;
}

.ratings {
    color: white;
}

.description {
    background-color: rgb(227, 240, 245);
    border-radius: 5px;
    padding: 15px;
}

.description>p {
    font-size: 20px;
    font-weight: 550;
}

.thumbnail {
    position: relative;
    margin-left: 300px;
    aspect-ratio: auto;
    /*object-fit: cover;
    overflow: hidden;*/
    width: 400px;
    padding: 20px;
    vertical-align: middle;
}

.summary {
    background-color: rgb(227, 240, 245);
    border-radius: 5px;
    padding: 15px;
}

.summary>p {
    font-size: 20px;
    font-weight: 550;
}

.adjust {
    position: relative;
    float: right;
    background: rgba(67, 87, 114, 0.79);
    border: none;
    color: black;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    bottom: 60px;
}

.adjust:hover {
    color: white;
}

.ingredients {
    background-color: rgb(227, 240, 245);
    border-radius: 5px;
    padding: 15px;
}

HR {
    margin-top: 5%;
    margin-bottom: 5%;
}

legend {
    margin-bottom: 2%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.checklist {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    color: black;
    padding: 10px 5px;
    height: 37px;
    position: relative;
}

.ingrd-to-list {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 50px;
    top: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1px;
    background: rgba(67, 87, 114, 0.79);
    border: 1px solid #627b9f;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 2px;
    /*text properties*/
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
}

.ingrd-to-list:hover {
    background-color: black;
}

.directions-text {
    margin-bottom: 2%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.step {
    background-color: white;
    border-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: lightblue;
    backdrop-filter: blur(4px);
    padding-left: 10px;
    padding: 2px;
    margin-bottom: 15px;
}

.summary {
    background-color: rgb(227, 240, 245);
    border-radius: 5px;
    padding: 15px;
}

.summary>p {
    font-size: 20px;
    font-weight: 550;
}

.adjust {
    position: relative;
    float: right;
    background: rgba(67, 87, 114, 0.79);
    border: none;
    color: black;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    bottom: 60px;
}

.adjust:hover {
    color: white;
}

.ingredients {
    background-color: rgb(227, 240, 245);
    border-radius: 5px;
    padding: 15px;
}

HR {
    margin-top: 5%;
    margin-bottom: 5%;
}

legend {
    margin-bottom: 2%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.checklist {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    color: black;
    padding: 10px 5px;
    height: 37px;
    position: relative;
}

.ingrd-to-list {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 50px;
    top: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1px;
    background: rgba(67, 87, 114, 0.79);
    border: 1px solid #627b9f;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 2px;
    /*text properties*/
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
}

.ingrd-to-list:hover {
    background-color: black;
}

.directions-text {
    margin-bottom: 2%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.step {
    background-color: white;
    border-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: lightblue;
    backdrop-filter: blur(4px);
    padding-left: 10px;
    padding: 2px;
    margin-bottom: 15px;
}