        @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
        html {
            background-color: #323c4b;
        }
        
        body {
            background-color: /* white;*/
            #323c4b;
        }
        
        * {
            font-family: "Roboto", sans-serif;
        }
        
        .login-text {
            position: relative;
            display: block;
            width: auto;
            height: auto;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2rem;
            color: #ffffff;
        }
        
        #create-logo {
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            width: 30rem;
            height: 17.5rem;
            object-fit: cover;
        }
        
        .login-box {
            background-color: white;
            position: relative;
            border-radius: 1rem;
            border-color: #ffffff;
            margin-top: 0%;
            margin-bottom: 2%;
            margin-left: auto;
            margin-right: auto;
            width: 25rem;
            height: auto;
            padding-bottom: 1%;
        }
        
        .google-img {
            position: relative;
            z-index: 1;
            display: block;
            margin-left: 15%;
            width: 2rem;
            top: 3rem;
        }
        
        .google-signin-btn {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            width: 90%;
            height: 4rem;
            background: #ffffff;
            border: 0.1rem solid #d2c7c7;
            box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2.5rem;
            font-style: normal;
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.5rem;
            /* identical to box height */
            color: #4d4c4c;
        }
        
        .google-signin-btn:hover {
            box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0);
        }
        
        .or-line {
            position: relative;
            margin-top: 5%;
            margin-left: auto;
            height: 2.5%;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.2rem;
            color: rgb(112, 103, 103);
        }
        
        fieldset {
            /*border-color: #FFFFFF;*/
            position: relative;
            border-style: hidden;
        }
        
        label {
            position: relative;
            margin-left: 0.8rem;
            color: rgb(184, 167, 167);
            font-style: normal;
            font-weight: bolder;
            font-size: 1rem;
        }
        
        .login-inputs {
            color: rgb(184, 167, 167);
            position: relative;
            vertical-align: middle;
            width: 90%;
            height: 2.5rem;
            margin-left: 2.5%;
            margin-bottom: 2rem;
            margin-top: 1%;
            background: rgba(176, 165, 165, 0.29);
            border: 0.1rem;
            border-color: rgba(176, 165, 165, 0.29);
            box-sizing: border-box;
            backdrop-filter: blur(0.4rem);
            border-radius: 0.25rem;
            font-size: 1.25rem;
            text-indent: 0.5rem;
        }
        
        .login-button {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 15rem;
            height: 3rem;
            top: 0px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: .1rem;
            background: rgba(98, 123, 159, 0.79);
            border: 0.1rem solid #627b9f;
            box-sizing: border-box;
            backdrop-filter: blur(0.4rem);
            border-radius: 0.2rem;
            /*text properties*/
            color: #ffffff;
            font-style: normal;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        
        .new-account {
            position: relative;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500px;
            line-height: 10px;
            color: #ffffff;
            display: block;
            font-size: 12.5px;
        }
        
        .forgot-password {
            position: relative;
            text-align: center;
        }
        
        a[href="create-account.html"] {
            color: white;
        }
        
        a[href="login.html"] {
            color: white;
        }
        
        a[href="forgot-password.html"] {
            color: black;
        }
        
        .login-button:hover {
            background-color: black;
        }
        
        .headerBar {
            background-color: #323c4b;
            /* border-bottom: black 10px;*/
            border-color: white;
            border-width: 1px;
            border-style: solid;
            border-top: hidden;
            border-left: hidden;
            border-right: hidden;
            width: 600px;
            height: 225px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .logoHeader {
            float: left;
        }
        
        .centeredImage {
            width: 300px;
        }
        
        .dropbtn {
            /*background-color: #04AA6D;*/
            background: #323c4b;
            border: none;
            color: white;
            /*padding: 12px 16px;*/
            font-size: 50px;
            cursor: pointer;
            border-radius: 100%;
            /*top: 400px;*/
        }
        
        .dropbtn:hover,
        .dropbtn:focus {
            color: #b1bdcf;
        }
        
        .dropDownMenu {
            position: relative;
            float: right;
            top: 100px;
            margin-right: 50px;
            /*display: inline-block;*/
        }
        
        .dropDownList {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            border-radius: 3px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            right: 0;
            z-index: 1;
        }
        
        .dropDownList a {
            color: rgb(0, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-color: #323c4b;
            border-bottom: solid;
            border-width: thin;
        }
        
        .dropDownMenu a:hover {
            background-color: rgb(187, 188, 199);
        }
        
        .show {
            display: block;
        }
        
        .optionsList {
            width: 500px;
            position: relative;
            top: 60%;
            left: 50%;
            margin-left: -250px;
        }
        
        .searchBar {
            display: flex;
            position: relative;
            width: 100%;
            margin-bottom: 75px;
        }
        
        button[type="submit"] {
            width: 50px;
            height: 56px;
            border: 3px solid #00b4cc;
            background: #00b4cc;
            text-align: center;
            color: #fff;
            border-radius: 0 10px 10px 0;
            cursor: pointer;
            font-size: 30px;
        }
        
        button[type="filter"] {
            width: 50px;
            height: 56px;
            border: 3px solid #00b4cc;
            background-color: white;
            color: black;
            border-radius: 10px 0 0 10px;
            cursor: pointer;
            font-size: 30px;
            text-align: center;
            border-right: hidden;
        }
        
        button[type="button"] {
            display: block;
            margin-bottom: 75px;
            width: 100%;
            height: 56px;
            background-color: white;
            color: rgb(58, 58, 71);
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 5px 1px #00b4cc;
            border-color: white;
            font-size: 25px;
            font-weight: bold;
        }
        
        .search {
            width: 100%;
            height: 50px;
            border: 3px solid #00b4cc;
            padding: 0px;
            outline: none;
            color: #9dbfaf;
            font-size: 20px;
        }
        
        #options {
            color: black;
            font-size: 35px;
        }
        
        h1.shoppingListTitle {
            text-align: center;
        }
        /*recipe-list*/
        
        .myRecipes {
            position: relative;
            text-align: center;
            width: 300px;
            left: 150px;
            display: inline;
            top: 100px;
            color: white;
            font-size: 40px;
        }
        
        #book {
            position: relative;
            color: white;
            display: inline;
            left: 200px;
            top: 100px;
            font-size: 60px;
        }
        
        .homeBar {
            position: relative;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            margin-bottom: 25px;
            top: 0px;
        }
        
        .homebtn {
            color: black;
            background-color: white;
            position: absolute;
            display: inline;
            width: auto;
            height: 45px;
            margin-left: 3%;
            padding-right: 10px;
            background-color: white;
            color: rgb(58, 58, 71);
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 5px 1px #00b4cc;
            border-color: white;
            font-size: 25px;
            font-weight: bold;
        }
        
        #sort-select {
            position: absolute;
            display: inline;
            margin-left: 55%;
            width: 200px;
            height: 40px;
            border-radius: 5px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
        }
        /*can modify sorting dropdown*/
        
        .recipe-list {
            vertical-align: middle;
            background-color: #323c4b;
            position: relative;
            top: 100px;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: 600px;
            height: 500px;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        .recipe {
            color: black;
            background-color: white;
            border-radius: 2px;
            margin-bottom: 10px;
            width: 95%;
            margin-left: 20px;
            height: 200px;
            position: relative;
            display: block;
        }
        
        .recipe h3 {
            background: rgba(143, 135, 135, 0.29);
            height: 30px;
            width: 100%;
            text-indent: 5px;
            color: black;
            position: absolute;
            bottom: -15px;
            backdrop-filter: blur(10px);
            font-size: 20px;
            z-index: 1;
        }
        
        .recipe img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 118px;
            object-fit: cover;
            margin-left: -16px;
            width: calc(100% + 32px);
        }
        
        .recipe p.time {
            position: absolute;
            top: 10px;
            z-index: 1;
            font-size: 20px;
            color: white;
        }
        
        .recipe p.rating {
            position: absolute;
            top: 30px;
            right: 10px;
            z-index: 1;
            font-size: 20px;
            color: white;
        }
        
        .recipebookbtn {
            width: 600px;
        }
        /* Create Recipe Style */
        
        .createRecipe {
            position: relative;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .createRecipeTitle {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        .createRecipeTitle img {
            position: relative;
            display: inline;
            width: 100px;
            top: 20px;
            margin-left: 10%;
        }
        
        .createRecipeTitle h1 {
            color: white;
            display: inline;
            position: relative;
            font-size: 60px;
        }
        
        .input-field {
            text-align: left;
            width: 100%;
            height: 40px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            backdrop-filter: blur(4px);
            padding: 5px 5px 5px 15px;
            margin-bottom: 25px;
            color: black;
            font-size: 25px;
        }
        
        .center {
            height: 100%;
            display: block;
            align-items: center;
            justify-content: center;
        }
        
        .form-input {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: 400px;
            padding: 20px;
            background: #323c4b;
        }
        
        .form-input input {
            display: none;
        }
        
        .form-input label {
            display: block;
            width: 200px;
            height: 45px;
            margin-left: auto;
            margin-right: auto;
            line-height: 50px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            text-transform: Uppercase;
            font-weight: 600;
            cursor: pointer;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 1px;
            background: rgba(67, 87, 114, 0.79);
        }
        
        .form-input label:hover {
            background-color: black;
        }
        
        .form-input img {
            width: 100%;
            display: none;
            margin-bottom: 30px;
        }
        
        #ingredients {
            margin-top: 20px;
        }
        
        #ingredients h2 {
            color: white;
            position: relative;
            font-size: 30px;
        }
        
        #quantity {
            position: relative;
            text-align: left;
            width: 20%;
            height: 40px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            padding: auto;
            margin-bottom: 10px;
            color: black;
            font-size: 20px;
        }
        
        .ingredient {
            position: relative;
            text-align: left;
            width: 70%;
            height: 40px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            padding: 1px 1px 1px 10px;
            color: black;
            font-size: 20px;
            margin-left: 5%;
            margin-bottom: 20px;
        }
        
        #directions h2 {
            color: white;
            position: relative;
            font-size: 30px;
        }
        
        .directions {
            text-align: left;
            width: 100%;
            height: 40px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            padding: 1px 1px 1px 10px;
            color: black;
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        .createRecipebtn {
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            display: block;
            width: 50px;
            height: 40px;
            padding: 10px 10px 10px 10px;
            background-color: white;
            color: rgb(58, 58, 71);
            text-align: center;
            border-radius: 3px;
            box-shadow: 0px 5px 1px #00b4cc;
            border-color: white;
            font-size: 15px;
            font-weight: bold;
        }
        
        #save-recipe {
            margin-top: 10%;
            margin-bottom: 5%;
            display: block;
            width: 200px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            line-height: 50px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            text-transform: Uppercase;
            font-size: auto;
            font-weight: bold;
            cursor: pointer;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: #00b4cc;
        }
        
        #save-recipe:hover {
            background: black;
        }
        /*shopping list*/
        
        .shoppingListTitle {
            position: relative;
            text-align: center;
            width: 300px;
            left: 100px;
            display: inline;
            top: 100px;
            color: white;
            font-size: 40px;
        }
        
        #cart {
            position: relative;
            color: white;
            display: inline;
            left: 150px;
            top: 100px;
            font-size: 60px;
        }
        
        .vertical-center {
            position: relative;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            margin-bottom: 25px;
            top: 0px;
        }
        
        .homebtn2 {
            color: black;
            background-color: white;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: auto;
            height: 45px;
            padding-right: 10px;
            background-color: white;
            color: rgb(58, 58, 71);
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 5px 1px #00b4cc;
            border-color: white;
            font-size: 25px;
            font-weight: bold;
        }
        
        .shopping-qty {
            text-align: left;
            width: 25%;
            display: inline;
            height: 30px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            backdrop-filter: blur(4px);
            padding: 5px 5px 5px 15px;
            margin-bottom: 25px;
            color: black;
            font-size: 20px;
        }
        
        .shopping-itpx {
            text-align: left;
            width: 55%;
            margin-left: 10%;
            display: inline;
            height: 30px;
            border-radius: 2px;
            background-color: white;
            border-width: 3px;
            border-style: solid;
            border-color: lightblue;
            backdrop-filter: blur(4px);
            padding: 5px 5px 5px 15px;
            margin-bottom: 25px;
            color: black;
            font-size: 20px;
        }
        
        .shopping-list {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        
        #shopping-form {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            background-color: lightblue;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
            height: auto;
        }
        
        #shopping-form:pxpty {
            display: none;
        }
        
        #shopping-form>label {
            font-size: 25px;
            color: black;
            margin-left: 10px;
        }
        
        input[type="checkbox"] {
            margin-right: 25px;
            transform: scale(1.5);
        }
        
        #done-button {
            position: relative;
            margin-top: 20px;
            margin-bottom: 10px;
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: auto;
            margin-right: auto;
        }
        /*recipe-expand*/
        
        .recipe-expand {
            position: relative;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }
        
        .titleBar {
            position: relative;
            display: inline;
            width: 100%;
        }
        
        .recipe-title {
            position: relative;
            font-size: 50px;
            color: white;
            display: inline;
        }
        
        .crud-options {
            float: right;
            display: inline;
            position: relative;
            width: 250px;
        }
        
        .crud {
            width: 50px;
            height: auto;
            margin: 1%;
            padding: 5px;
            background-color: white;
            color: rgb(58, 58, 71);
            text-align: center;
            border-radius: 5px;
            box-shadow: 1px 3px 1px #00b4cc;
            border-color: white;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            display: inline;
        }
        
        .ratings {
            color: white;
        }
        
        .description {
            background-color: rgb(227, 240, 245);
            border-radius: 5px;
            padding: 15px;
        }
        
        .description>p {
            font-size: 20px;
            font-weight: 550;
        }
        
        .thumbnail {
            position: relative;
            margin-left: 300px;
            aspect-ratio: auto;
            /*object-fit: cover;
    overflow: hidden;*/
            width: 400px;
            padding: 20px;
            vertical-align: middle;
        }
        
        .summary {
            background-color: rgb(227, 240, 245);
            border-radius: 5px;
            padding: 15px;
        }
        
        .summary>p {
            font-size: 20px;
            font-weight: 550;
        }
        
        .adjust {
            position: relative;
            float: right;
            background: rgba(67, 87, 114, 0.79);
            border: none;
            color: black;
            padding: 10px;
            font-size: 30px;
            cursor: pointer;
            border-radius: 100%;
            bottom: 60px;
        }
        
        .adjust:hover {
            color: white;
        }
        
        .ingredients {
            background-color: rgb(227, 240, 245);
            border-radius: 5px;
            padding: 15px;
        }
        
        HR {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
        legend {
            margin-bottom: 2%;
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        
        .checklist {
            display: inline-block;
            font-size: 15px;
            font-weight: 200;
            color: black;
            padding: 10px 5px;
            height: 37px;
            position: relative;
        }
        
        .ingrd-to-list {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 225px;
            height: 50px;
            top: 0px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 1px;
            background: rgba(67, 87, 114, 0.79);
            border: 1px solid #627b9f;
            box-sizing: border-box;
            backdrop-filter: blur(4px);
            border-radius: 2px;
            /*text properties*/
            color: #ffffff;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 15px;
        }
        
        .ingrd-to-list:hover {
            background-color: black;
        }
        
        .directions-text {
            margin-bottom: 2%;
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        
        .step {
            background-color: white;
            border-radius: 2px;
            border-width: 5px;
            border-style: solid;
            border-color: lightblue;
            backdrop-filter: blur(4px);
            padding-left: 10px;
            padding: 2px;
            margin-bottom: 15px;
        }